label{
    padding: 4px 6px;
}
a{
    color: black;
    text-decoration: none;
}
body{
    background-color: rgb(29, 43, 83);
    color: rgb(250, 239, 93);
    font-family: "Ubuntu", sans-serif;
}

.card{
    color:rgb(126, 37, 83);
    overflow: hidden;
}
.card:hover img{
    scale:  1.05;
    transition:all  .3s ease-in-out;
}
label{
    font-size: 20px;
}
